# データの永続化
## SQLite 
* 軽量データベースを実装するC言語のライブラリ
* サーバー用のプロセスを必要としない
* 単一のファイルによって管理される（インメモリも可能）

In [5]:
import sqlite3

In [6]:
# DBファイルのパス
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

In [12]:
path = ''
db_name = 'car.db'

#DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_name)
#SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
cur = conn.cursor()

# SQL文の定義（テーブルの作成）
sql = 'CREATE TABLE cars (id INT, name TEXT, price INT)'

# SQL文の実行
cur.execute(sql)

# DBへの接続を閉じる
conn.close()

OperationalError: table cars already exists

###　データをDBに挿入する（単一レコード）

In [13]:
path = ''
db_name = 'car.db'
try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の定義（テーブルの作成）
    # データの挿入
    # INSERT INTO テーブル名 VALUES (列に対応したデータをカンマ区切りで指定)
    # 文字列データを挿入する場合は、文字列をシングルクォーテーションで挟む
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000)"


    # SQL文の実行
    cur.execute(sql)
    # コミット（DBに変更を反映）
    conn.commit()
except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")
finally:
    # DBへの接続を閉じる
    conn.close()

### 複数レコード

In [14]:
path = ''
db_name = 'car.db'
try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)
    #SQL(RDBを操作するための言語)を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の定義（テーブルの作成）
    # データの挿入
    # INSERT INTO テーブル名 VALUES (列に対応したデータをカンマ区切りで指定)
    # 文字列データを挿入する場合は、文字列をシングルクォーテーションで挟む
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?)"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビック', 5000000)
    ]
    # SQL文の実行
    cur.execute(sql,cars)
    # コミット（DBに変更を反映）
    conn.commit()
except sqlite3.Error as e:
    print(f"エラーが発生しました: {e}")
finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: Error binding parameter 1: type 'tuple' is not supported